<!DOCTYPE html>
<html lang="en">
<head>
<title>Games Hub</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Games Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/todc-bootstrap/3.3.7-3.3.13/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/website-21553.appspot.com/o/style.css?alt=media&token=47bd19de-b5b0-49b1-aeaf-a88bf479c8c3" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- portfolio -->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chocolat/0.4.20/css/chocolat.css" type="text/css" media="all">
<!-- //portfolio -->	
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="https://firebasestorage.googleapis.com/v0/b/website-21553.appspot.com/o/js%2Fjquery-1.11.1.min.js?alt=media&token=94f912da-bc87-47fb-8bf6-13a3d415a06e"></script>
<script src="https://firebasestorage.googleapis.com/v0/b/website-21553.appspot.com/o/js%2Fbootstrap.js?alt=media&token=f2e5c23b-745f-47ea-ab12-85af307dca72"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
<div class="about" id="about"> 
	<div class="container"> 
		<div class="welcome">
			<div class="agileits-title"> 
				<h2>Welcome</h2>
				<p>Welcome to the encyclopedia of all the games. We have some latest updates regarding your favourite games, so grab a seat and take a ride to the game's world.</p>
			</div>
		</div>
		<div class="about-w3lsrow"> 
			<div class="col-md-7 col-sm-7 w3about-img"> 
				<div class="w3about-text"> 
					<h5 class="w3l-subtitle">- About Us</h5>
					<p>We aim to provide all the information you need to know the game that interest you. We aim to build a better gaming community.</p>
				</div>
			</div> 
			<div class="clearfix"> </div>
		</div>
	</div>
</body>